h1{
    color: #f9fff9;
    text-align: center;
    font-size: 170%;
}


p{
    color: #050603;
    font-family: Times New Roman;
    font-size: 130%;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(even) {
    background-color: #5595dd;
}

.lj_bg_nav{
    background-color: #1d4fc5 !important;

    color: #fffdfb;
}

* {
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
}
/* Div que engloba el contenido de la página menos el footer */
#wrapper {
    min-height:100%;
}
header {
    display:block;
    background: #cc2fb1;
    padding:10px 0px;
}
section {
    overflow: auto;
    /* Definimos el padding inferior:
       50px del pie de pagina mas 10px de separacion
    */
    padding-bottom: 60px;
    /* Definimos un padding superior */
    padding-top:30px;
}
footer {
    position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -50px;
    /* Altura del footer en px. Se han restado los 5px del margen
       superior mas los 5px del margen inferior
    */
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: #286af0;
    text-align: center;
    color: #fff;
}

/* Esta clase define la anchura del contenido y la posicion centrada
   El contenido queda centrado y limitado, pero la cabecera y el pie
   llegan hasta los limites del navegador.
*/
.define {
    width:960px;
    margin:0 auto;
}

body{
    font-family: Arial; background-color: #18A383; box-sizing: border-box;
}

form{
    background-color: #55a7e6;
    border-radius: 3px;
    color: #050603;
    font-size: 0.8em;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
}

input, textarea{
    border: 0;
    outline: none;

    width: 280px;
}

.field{
    border: solid 1px #ccc;
    padding: 10px;


}

.field:focus{
    border-color: #18A383;
}

.center-content{
    text-align: center;
}


.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn-green{
    color: white;
    background-color: #3CC93F;
}
.btn-green:hover{
    background-color: #37B839;
}
.btn-green:active{
    background-color: #29962A;
}

#main-container{
    margin: 70px auto;
    width: 1000px;
}


.center{
    margin:10px auto;
    display:block;
}
